/* @import '~antd/dist/antd.css'; */

.App {
  text-align: flex;
  flex-direction: column;
  width: 100%;
  height:100vh;
}
.AppHeader{
  height:50px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 6px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

}


.PageContent{
  padding: 20px;
  margin-top: 20px;
  display: grid;
  justify-self: center;


}
.AppFooter{
  height:50px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid rgba(0, 0, 0, 0.15);


}
.SideMenuAnPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(233, 230, 230, 0.05) ;
  
}
.SideMenu{
  height:100vh;
  width:150px;

  background-color: #fff;
}
.type{
  
  margin:0 auto;
  text-align: center;
  width: min(30%,100%);
}